body{
    width: 1920px;
    margin: 0 auto;
}
@font-face{
    font-family: montserrat-light;
    src: url(../fonts/montserrat-light.ttf);
}
@font-face{
    font-family: montserrat-regular;
    src: url(../fonts/montserrat-regular.ttf);
}
@font-face{
    font-family: raleway-medium;
    src: url(../fonts/raleway-medium.ttf);
}
@font-face{
    font-family: raleway-bold;
    src: url(../fonts/raleway-bold.ttf);
}
@font-face{
    font-family: raleway-regular;
    src: url(../fonts/raleway-regular.ttf);
}
@font-face{
    font-family: raleway-extrabold;
    src: url(../fonts/raleway-extrabold.ttf)
}
@font-face{
    font-family: raleway-semibold;
    src: url(../fonts/raleway-semibold.ttf)
}
@font-face{
    font-family: roboto;
    src: url(../fonts/roboto.ttf)
}
/*первый блок*/
.header{
    width: 100%;
    background-image: url(../img/Photo.jpg);
    background-repeat: no-repeat;
    padding: 0;
    background-size: cover;
}
.page-header {
    width: 100%;
    margin: 0 0 309px 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.page-header-top{
    width: 100%;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 181px;
    text-decoration: none;
    background-color: inherit;
    color: #fff;
    margin: 40px 219px 0 0;
}
.logo svg {
    fill: currentColor;
}
.logo-txt {
    font-family: raleway-regular;
    font-size: 34px;
    font-weight: 400;
    text-align: right;
}
.logo:hover{
  color: #998675;
}
.logo:active{
    color: gold;
}
.header-menu {
    margin: 62px 0 0 0;
}
.header-menu-list-item {
    display: inline;
    color: #ffffff;
    font-family: montserrat-regular;
    font-size: 14px;
    font-weight: 300;
    margin: 0 30px 0 0;
    text-decoration: none;
}
.header-menu-list-item:hover{
    color: #c7b299;
}
.header-menu-list-item:active{
    color: gold;
}
/*кнопка корзины*/
.basket {
    background-color: inherit;
    width: 24px;
    height: 31px;
    margin: 55px 28px 0 63px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    outline: none;
}
.basket-svg{
    fill: #ffffff;
}
.basket-svg:hover{
    fill: #998675;
}
.basket-svg:active{
    fill: gold;
}
/*кнопка search*/
.search-btn-form{
    width: 24px;
    height: 24px;
    margin: 58px 0 0 0%;
    position: relative;
}
.form-search-icon-label{
    width: 100%;
    height: 100%;
    display: block;
}
.form-search-icon-label:hover .form-search-icon-svg{
    fill: #998675;
}
.form-search-icon-label:active .form-search-icon-svg{
    fill: gold;
}
.form-search-icon-svg{
    width: 100%;
    height: 100%;
    fill: #ffffff;
}
.form-search-icon-input{
    width: 0;
    height: 0;
    padding: 5px;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 40px;
    color: #fff;
    font-size: 16px;
    font-family: montserrat-regular;
    text-transform: capitalize;    
}
.form-search-icon-input:focus{
    width: 150px;
    min-height: 20px;
    transition: width 1s ease;
    border: 1px solid #998675;
}
.form-search-icon-input:focus .form-search-icon-label>form-search-icon-svg{
    fill: gold;
}
.carusel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    min-height: 400px;
    margin: 0 auto;
    position: relative;
}
.carusel-btn {
    margin: 490px;
}
.carusel-btn-lft{
   margin-right: 490px; 
   fill: #a2a29f;
}
.carusel-btn-lft:hover{
    fill: red;
}
.carusel-btn-lft:active{
    fill: gold;
}
.carusel-btn-rgt{
    margin-left: 488px;
    fill: #d3c1ad;
}
.carusel-btn-rgt:hover{
    fill: red;
}
.carusel-btn-rgt:active{
    fill: gold;
}
.carusel-txt {
    text-align: center;
}
.carusel-txt-subtitle {
    display: block;
    color: #ffffff;
    font-family: raleway-regular;
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 14px 0;
}
.carusel-txt-tittle {
    display: block;
    color: #ffffff;
    font-family: raleway-extrabold;
    font-size: 52px;
    font-weight: 400;
    margin: 0 0 19px 0;
}
.carusel-txt-text {
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    display: block;
    width: 562px;
    margin: 0 0 52px 0;
}
.carusel-text-btn {
    display: block;
    width: 170px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    font-family: raleway-extrabold;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    word-break: break-all;
}
.carusel-text-btn-txt{
    display: block;
    padding: 21px 0 21px 0;
}
.carusel-text-btn:hover{
    background-color: gold;
    color: black;
}
.carusel-text-btn:active{
    background-color: #ffff;
    color: black;
}
.carusel-pagination {
    width: 100%;
    justify-content: center;
    display: flex;
    margin: 0 0 42px 0;
}
.carusel-pagination-item {
    display: block;
    width: 11px;
    height: 11px;    
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.5;
    margin: 329px 10px 0 0;
    border: 2px solid transparent;
}
.carusel-pagination-item:hover{
    border: 2px solid #d3c1ad;
    background-color: transparent;
    transform: scale(1.2);
}
/*второй блок*/
.second-block{
    width: 100%;
    display: flex;
    padding: 80px 0 0 0;
    justify-content: center;
}
.services{
    width: 266px;
    justify-content: center;
    /* padding: 10px 10px 0 10px; */
    box-sizing: border-box;
    /* align-items: center; */
     text-align: center; 
    display: flex;
    flex-wrap: wrap;
    margin: 0 33px 0 0;
}
.services:after{
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    content: "";
    display: block;
    margin: 0 0 80px 0;
}
.services:hover .services-icon{
    fill: #c7b299;
}
.services:hover .servises-kind{
    color: #c7b299;
}
.services:hover:after{
    background-color: #c7b299;
}
.services-icon{
    display: block;
    fill: #555555;
}
.icon-marg-01{
    margin: 0 0 29px 0;
}
.icon-marg-02{
    margin: 9px 0 29px 0;
}
.icon-marg-03{
    margin: 4px 0 30px 0;
}
.icon-marg-04{
    margin: 12px 0 30px 0;
}
.servises-kind{
    display: block;
    width: 100%;
    margin: 0 0 19px 0;
    color: #555555;
    font-family: raleway-semibold;
    font-size: 22px;
    font-weight: 400;
}
.servises-desk{
    color: #8c8c8c;
    font-family: montserrat-regular;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin: 0 0 30px 0;
}
/*Третий блок*/
.third-block{
    width: 100%;
    justify-content: center;
    background: #fbfaf8;
    padding: 83px 0 0 0;
}
.third-block-title {
    display: block;
    width: 100%;
    text-align: center;
    color: #555555;
    font-family: raleway-semibold;
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 24px 0;
}
.third-block-txt {
    width: 754px;
    margin: 0 auto;
    text-align: center;
    color: #8c8c8c;
    font-family: montserrat-regular;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
.third-block-content{
  display: flex;
  justify-content: center;
  position: relative;
    margin: 40px 0 0 0;
}
.third-block-content-photo:nth-child(1){
    position: absolute;
    top: 82px;
    left: 344px;
    z-index: 1;
}
.third-block-content-photo:nth-child(2){
    margin: 0 auto;
    z-index: 2;
}
.third-block-content-photo:nth-child(3){
    position: absolute;
    top: 82px;
    right: 319px;
    z-index: 1;
}
/*aside блок*/
aside {
    width: 100%;
    background: #251d1a;
    padding: 48px 0 48px 0;
    justify-content: center;
    display: flex;
}
.aside-title-block {
    width: 530px;
    margin: 0 470px 0 0;
}
.aside-subtitle {
    font-family: raleway-regular;
    font-size: 28px;
    font-weight: 400;
    color: #c7b299;
}
.aside-title {
    color: #ffffff;
    font-family: raleway-regular;
    font-size: 28px;
    font-weight: 400;
}
.aside-txt {
    color: #615855;
    font-family: montserrat-regular;
    font-size: 18px;
    font-weight: 300;
    margin: 8px 0 0 0;
}
.aside-btn{
    display: block;
    text-decoration: none;
    width: 170px;
    border-radius: 3px;
    background: #998675;
    box-sizing: border-box;
    border-bottom: 3px solid #736357;
    color: #ffffff;
    font-family: raleway-extrabold;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
    text-align: center;
    padding: 19px 0 20px 0;
}
.aside-btn:hover{
    background: gold;
    color: black;
}
.aside-btn:active{
    background: white;
    color: black;
}
/*Четвертый блок*/
.projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 81px 0 80px 0;
    align-items: center;
    text-align: center;
}
.pojects-title {
    display: block;
    width: 100%;
    color: #555555;
    font-family: raleway-semibold;
    font-size: 30px;
    font-weight: 400;
}
.projects-txt {
    width: 757px;
    color: #8c8c8c;
    font-family: montserrat-regular;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin: 24px 0 40px 0;
}
.projects-buttons {
    width: 100%;
    min-height: 32px;
}
.projects-btn {
    text-align: center;
    padding: 10px 24px 11px 23px;
    margin: 0 10px 0 0;
    color: #8c8c8c;
    font-family: montserrat-regular;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
}
.projects-btn:hover{
    background-color: #998675;
    color: #ffffff;
}
/*4 блок карточки проектов*/
.our-projects{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 319px 0 310px;
}
.latest-projects {
    text-decoration: none;
    position: relative;
    margin: 30px;
}
.latest-projects-photo{
    display: block;
    width: 100%;
}
.latest-projects-wrapper{
    width: 100%;
    min-height: 100px;
    background: #fbfaf8;
    position: relative;
    padding: 30px 0 0 0;
}
.latest-projects-wrapper:before{
    content: "";
    border: 10px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    position: absolute;
    top: -20px;
    left: 19px;
}
.latest-projects-title{
    color: #c7b299;
    font-family: raleway-regular;
    font-size: 20px;
    font-weight: 500;
    display: block;
    margin: 0 0 14px 29px;
    text-align: left;
}
.latest-projects-subtitle{
    display: block;
    color: #d1d1d1;
    font-family: montserrat-regular;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin: 0 0 0 29px;
    text-align: left;
}
.latest-projects-lnk,
.latest-projects-search{
    width: 26px;
    height: 26px;
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 45%;
}
.latest-projects-lnk{
    background-image: url(../img/icon/link.svg);
    left: 35%;
    color: #ffffff;
}
.latest-projects-search{
    background-image: url(../img/icon/lupa.svg);
    right: 35%;
}
.latest-projects:hover .latest-projects-lnk{
    display: block;
}
.latest-projects:hover .latest-projects-search{
    display: block;
}
.latest-projects:hover .latest-projects-photo{
    filter: brightness(30%);
}
.latest-projects:hover .latest-projects-lnk:hover{
    background-color: #c7b299;
}
.latest-projects:hover .latest-projects-search:hover{
    background-color: #c7b299;
}
.latest-projects:hover .latest-projects-wrapper{
    background-color: #362f2d;
}
.latest-projects:hover .latest-projects-wrapper:before{
    border-bottom: 10px solid #362f2d;
}
.latest-projects:hover .latest-projects-title{
    color: #ffffff;
}
.latest-projects:hover .latest-projects-subtitle{
    color: #c7b299;
}
.load-more {
    width: 170px;
    min-height: 50px;
    background: #736357;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    color: #ffffff;
    font-family: raleway-bold;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase; 
    margin: 29px 0 0 0;
    word-break: break-all;
}
.load-more:hover{
    background: gold;
    color: black; 
}
.load-more:active{
    background: black;
    color: gold; 
}
/*блок видео презентации*/
.video{
    width: 100%;
    min-height: 705px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-presentation{
    width: 100%;
/*    height: 100v;*/
    object-fit: cover;
}
.video-play{
    width: 555px;
    min-height: 400px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
}
.video-btn{
    width: 70px;
    height: 70px;
    display: flex;
    background: transparent;
    margin: auto;
    outline: none;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 50%;
}
.video-btn-svg{
    fill: #ffffff;
    margin: auto;
}
.video-btn:hover .video-btn-svg{
    fill: #998675;
}
.video-btn:active .video-btn-svg{
    fill: gold;
}
.video-title{
    color: #ffffff;
    font-family: raleway-regular;
    font-size: 30px;
    font-weight: 500;
    margin: 44px 0 29px 0;
    display: block;
}
.video-txt{
    color: #ffffff;
    font-family: montserrat-regular;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    width: 552px;
    margin: 0 0 40px 0;
}
.video-time{
    color: #c7b299;
    font-family: montserrat-regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
/*седьмая секция*/
.sixth-section{
    width: 100%;
    min-height: 695px;
    background-image:url(../img/background-sixthsection.jpg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.sixth-section-content{
    min-width: 673px;
    position: absolute;
    width: 655px;
    position: absolute;
    margin: 195px 0 0 875px;
}
.sixth-section-content-title{
    display: block;
    color: #555555;
    font-family: raleway-semibold;
    font-size: 30px;
    font-weight: 400;
    margin: 0 2px 40px 0;
}
.sixth-section-content-txt{
    margin: 0 0 0 0;
    color: #8c8c8c;
    font-family: montserrat-regular;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin: 0 0 45px 0;
}
.sixth-section-content-list{
    margin: 0 0 0 50px;
    color: #8c8c8c;
    font-family: montserrat-regular;
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    list-style-type: none;
}
.sixth-section-content-items{
    position: relative;
}
.sixth-section-content-items:before{
    content: "";
    display: block;
    width: 21px;
    height: 21px;
    background-image: url(../img/icon/03.png);
    top: 6px;
    left: -36px;
    box-sizing: border-box;
    position: absolute;
    background-size: cover;
}
/*восьмой блок -счетчики*/
.counters{
    width: 100%;
    display: flex;
    padding: 69px 0 0 0;
    justify-content: center;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
}
.counters-kinds{
    width: 8%;
    justify-content: center;
    box-sizing: border-box;
    text-align: center; 
    display: flex;
    flex-wrap: wrap;
    margin: 0 73px 0 0;
}
.counters-kinds:after{
    width: 30px;
    height: 2px;
    background-color: #ffffff;
    content: "";
    display: block;
    margin: 0 0 60px 0;
}
.counter-svg{
    display: block;
    fill: #c7b299;
    margin: 0 0 30px 0;
}
.counter{
    display: block;
    width: 100%;
    margin: 0 0 21px 0;
    color: #ffffff;
    font-family: montserrat-light;
    font-size: 48px;
    font-weight: 400;
    line-height: 36px;
}
.counter-subtitle{
    display: block;
    width: 100%;
    color: #c7b299;
    font-family: montserrat-regular;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
    margin: 0 0 30px 0;
}
/*девятый блок -посты*/
.ninth-block {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
.ninth-block-title {
    display: block;
    width: 100%;
    color: #555555;
    font-family: raleway-semibold;
    font-size: 30px;
    font-weight: 400;
    margin: 82px 0 30px 0;
}
.ninth-block-txt {
    width: 757px;
    margin: 0 0 0 0;
    color: #8c8c8c;
    font-family: montserrat-regular;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin: 0 0 40px 0;
}
.posts{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.ninth-block-post {
    width: 370px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 30px 0 0;
}
.ninth-block-post-photo {
    position: relative;
}
.ninth-block-post-date {
    position: absolute;
    margin: 20px 0 0 20px;
    text-align: center;
}
.date-number {
   display: block;
    width: 50px;
    color: #ffffff;
    font-family: montserrat-regular;
    font-size: 24px;
    font-weight: 300;
    line-height: 20px;
    background-color: #363636;
    padding: 9px 0 9px 0;
}
.date-month {
    display: block;
    width: 50px;
    color: #ffffff;
    font-family: roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    background-color: #252525;
    padding: 7px 0 6px 0;
}
.ninth-block-post-deck {
    text-align: left;
    padding: 0 0 0 29px;
}
.ninth-block-post-deck-title {
    color: #555555;
    font-family: raleway-regular;
    font-size: 20px;
    font-weight: 500;
    margin: 30px 0 19px 0;
    display: block;
}
.ninth-block-post-deck-txt {
    color: #8c8c8c;
    font-family: montserrat-regular;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    margin: 0 0 27px 0;
}
.ninth-block-post-deck-btn {
    color: #c7b299;
    font-family: montserrat-regular;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-decoration: none;
    position: relative;
    margin: 0 0 33px 0;
}
.ninth-block-post-deck-btn:after{
    content: "";
    display: block;
    width: 5px;
    height: 8px;
    background-image: url(../img/icon/arrow.png);
    top: 6px;
    left: 85px;
    box-sizing: border-box;
    position: absolute;
    background-size: cover;
}
.ninth-block-post-deck-btn:hover{
    color: gold;
}
.ninth-block-post-deck-btn:active{
    color: red;
}
.ninth-block-post-deck-btn:hover::after{
    background: gold;
}
.ninth-block-post-deck-btn:active::after{
    background: red;
}
.ninth-block-btn{
    margin: 40px 8px 80px 0;
    background: transparent;
    outline: none;
    border: none;
}
.ninth-block-btn-svg{
    fill: #d1d1d1;
}
.ninth-block-btn:hover .ninth-block-btn-svg{
    fill: #998675;
}
.ninth-block-btn:active .ninth-block-btn-svg{
    fill: gold;
}
.ninth-block-post:hover .ninth-block-post-photo{
    filter: brightness(40%);
}
.ninth-block-post:hover .ninth-block-post-deck{
    background-color: #362f2d;
}
.ninth-block-post:hover .date-number{
    background-color: #c3b4a2;
}
.ninth-block-post:hover .date-month{
    background-color: #a48d72;
}
.ninth-block-post:hover .ninth-block-post-deck-title{
    color: #c7b299;
}
.ninth-block-post:hover .ninth-block-post-deck-txt{
    color: #ffffff;
}
/*десятый блок- логотипы*/
.logos{
    width: 100%;
    min-height: 489px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(../img/background-tenth-block.png);
    background-size: 100%;
    background-repeat: no-repeat;
    align-items: center;
}
.logo-brand{
    margin-right: 90px;
}
.logo-brand-img:hover{
    background-color:  #998675;
    border-radius: 20%;
}
/*footer*/
footer{
    width: 100%;
}
/*footer-inform*/
.footer-inform{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #191919;
    padding: 80px 0 0 0;
}
.marg{
    margin: 0 0 0 0;
}
.first-column{
    width: 258px;
}
.first-column-txt{
    color: #555555;
    font-family: montserrat-regular;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin: 29px 0 33px 0;
}
.first-column-txt:hover{
    color: #c7b299;
}
/*second column*/
.resents-posts{
    width: 270px; 
}
.resents-posts_excerpt{
    text-decoration: none;
}
.resents-posts-title{
    display: block;
    color: #ffffff;
    font-family: raleway-regular;
    font-size: 24px;
    font-weight: 700;
    margin: 28px 0 33px 0;
}
.resents-posts-date{
    display: block;
    color: #363636;
    font-family: montserrat-regular;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}
.resents-posts-txt{
    margin: 10px 0 42px 0;
    color: #555555;
    font-family: montserrat-regular;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}
.resents-posts-txt:after{
    content: "";
    display: block;    
    width: 270px;
    height: 1px;
    background-color: #595f6f;
    margin: 21px 0 0 0;    
}
.resents-posts-txt_03{
    margin: 10px 0 42px 0;
    color: #555555;
    font-family: montserrat-regular;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}
.resents-posts_excerpt:hover .resents-posts-date{
    color: #ffffff;
}
.resents-posts_excerpt:hover .resents-posts-txt{
    color: #c7b299;
}
.resents-posts_excerpt:hover .resents-posts-txt_03{
    color: #c7b299;;
}
/*third column*/
.our-twitter{
    width: 270px;
}
.waxom-twitter{
    text-decoration: none;
    color: #00bff3;
}
.waxom-twitter:hover{
    color: gold;
}
.waxom-twitter:active{
    color: red;
}
.our-twitter-txt{
    margin: 42px 0 12px 0;
    color: #555555;
    font-family: montserrat-regular;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px; 
}
.our-twitter-time_ago:after{
    content: "";
    display: block;    
    width: 270px;
    height: 1px;
    background-color: #595f6f;
    margin: 23px 0 0 0;    
}
.our-twitter-time_ago{
    color: #363636;
    font-family: montserrat-regular;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    display: block;
/*    margin: 0 0 0 0;*/
}
.our-twitter-txt_03{
   margin: 40px 0 11px 0;
    color: #555555;
    font-family: montserrat-regular;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px; 
}
.waxom-twitter-bit{
    text-decoration: none;
    color: #959595;
}
.waxom-twitter-bit:hover{
    color: gold;
}
.waxom-twitter-bit:active{
    color: red;
}
.our-twitter-post:hover .our-twitter-txt{
    color: #c7b299;
}
.our-twitter-post:hover .our-twitter-time_ago{
    color: #ffff;
}
.our-twitter-post:hover .our-twitter-txt_03{
    color: #c7b299;
}