body{
    width: 1920px;
    margin: 0 auto;
}
@font-face{
    font-family: montserrat-light;
    src: url(../fonts/montserrat-light.ttf);
}
@font-face{
    font-family: montserrat-regular;
    src: url(../fonts/montserrat-regular.ttf);
}
@font-face{
    font-family: raleway-medium;
    src: url(../fonts/raleway-medium.ttf);
}
@font-face{
    font-family: raleway-bold;
    src: url(../fonts/raleway-bold.ttf);
}
@font-face{
    font-family: raleway-regular;
    src: url(../fonts/raleway-regular.ttf);
}
@font-face{
    font-family: raleway-extrabold;
    src: url(../fonts/raleway-extrabold.ttf)
}
@font-face{
    font-family: raleway-semibold;
    src: url(../fonts/raleway-semibold.ttf)
}
/*первый блок*/
.header{
    width: 100%;
    background-image: url(../img/Photo.jpg);
    background-repeat: no-repeat;
    padding: 40px 0px 40px 0px;
    background-size: 100%;
}
.page-header {
    width: 100%;
    margin: 0 0 309px 0;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}
.page-header-top{
    width: 100%;
}
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 181px;
    text-decoration: none;
    background-color: inherit;
    color: #fff;
    margin: 40px 219px 0 0;
}
.logo svg {
    fill: currentColor;
}
.logo-txt {
    font-family: raleway-regular;
    font-size: 34px;
    font-weight: 400;
    text-align: right;
}
.logo:hover{
  color: #998675;
}
.header-menu {
    margin: 62px 0 0 0;
}
.header-menu-list-item {
    display: inline;
    color: #ffffff;
    font-family: montserrat-regular;
    font-size: 14px;
    font-weight: 300;
    margin: 0 30px 0 0;
    text-decoration: none;
}
.header-menu-list-item:hover{
    color: #c7b299;
}
.header-menu-list-item:active{
    color: gold;
}
.basket {
    background-color: inherit;
    width: 24px;
    height: 31px;
    margin: 55px 28px 0 63px;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
}
.basket-svg{
    fill: #ffffff;
}
.basket-svg:hover{
    fill: #998675;
}
.basket-svg:active{
    fill: red;
}
.search-btn {
    margin: 55px 0 0 0;
}
input[type="search"] {
    width: 28px;
    height: 28px;
    background-image: url(../img/icon/icon-search.png);
    background-size: contain;
    background-repeat: no-repeat;
    outline: none;
    background-color: transparent;
    border: none;
/*    border: 1px solid white;*/
}
input[type="search"]:focus {
  width: 300px;
  transition: width 1s ease-out;
  background-position: right;
}
.carusel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    min-height: 400px;
    margin: 0 auto;
    position: relative;
}
.carusel-btn {
    margin: 490px;
}
.carusel-btn-lft{
   margin-right: 490px; 
   fill: #a2a29f;
}
.carusel-btn-lft:hover{
    fill: red;
}
.carusel-btn-lft:active{
    fill: gold;
}
.carusel-btn-rgt{
    margin-left: 488px;
    fill: #d3c1ad;
}
.carusel-btn-rgt:hover{
    fill: red;
}
.carusel-btn-rgt:active{
    fill: gold;
}
.carusel-txt {
    text-align: center;
}
.carusel-txt-subtitle {
    display: block;
    color: #ffffff;
    font-family: raleway-regular;
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 14px 0;
}
.carusel-txt-tittle {
    display: block;
    color: #ffffff;
    font-family: raleway-extrabold;
    font-size: 52px;
    font-weight: 400;
    margin: 0 0 19px 0;
}
.carusel-txt-text {
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    display: block;
    width: 562px;
    margin: 0 0 52px 0;
}
.carusel-text-btn {
    display: block;
    width: 170px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    color: #ffffff;
    font-family: raleway-extrabold;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
}
.carusel-text-btn-txt{
    display: block;
    padding: 21px 0 21px 0;
}
.carusel-text-btn:hover{
    background-color: gold;
    color: black;
}
.carusel-pagination {
    width: 100%;
    justify-content: center;
    display: flex;
}
.carusel-pagination-item {
    display: block;
    width: 11px;
    height: 11px;    
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 0.5;
    margin: 329px 10px 0 0;
    border: 2px solid transparent;
}
.carusel-pagination-item:hover{
    border: 2px solid #d3c1ad;
    background-color: transparent;
    transform: scale(1.2);
}
/*второй блок*/
.second-block{
    width: 100%;
    display: flex;
    padding: 47px 0 0 0;
    justify-content: center;
}
.services{
    width: 266px;
    justify-content: center;
    /* padding: 10px 10px 0 10px; */
    box-sizing: border-box;
    /* align-items: center; */
     text-align: center; 
    display: flex;
    flex-wrap: wrap;
    margin: 33px;
}
.services:after{
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    content: "";
    display: block;
    margin: 0 0 47px 0;
}
.services:hover .services-icon{
    fill: #c7b299;
}
.services:hover .servises-kind{
    color: #c7b299;
}
.services:hover:after{
    background-color: #c7b299;
}
.services-icon{
    display: block;
    fill: #555555;
    margin: 0 0 29px 0;
}
.servises-kind{
    display: block;
    width: 100%;
    margin: 0 0 19px 0;
    color: #555555;
    font-family: raleway-semibold;
    font-size: 22px;
    font-weight: 400;
}
.servises-desk{
    color: #8c8c8c;
    font-family: montserrat-regular;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin: 0 0 30px 0;
}
/*Третий блок*/
.third-block{
    width: 100%;
    justify-content: center;
    background: #fbfaf8;
    padding: 83px 0 0 0;
}
.third-block-title {
    display: block;
    width: 100%;
    text-align: center;
    color: #555555;
    font-family: raleway-semibold;
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 24px 0;
}
.third-block-txt {
    width: 754px;
    margin: 0 auto;
    text-align: center;
    color: #8c8c8c;
    font-family: montserrat-regular;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}
.third-block-content{
  display: flex;
  justify-content: center;
  position: relative;
    margin: 40px 0 0 0;
}
.third-block-content-photo:nth-child(1){
    position: absolute;
    top: 82px;
    left: 344px;
    z-index: 1;
}
.third-block-content-photo:nth-child(2){
    margin: 0 auto;
    z-index: 2;
}
.third-block-content-photo:nth-child(3){
    position: absolute;
    top: 82px;
    right: 319px;
    z-index: 1;
}
/*aside блок*/
aside {
    width: 100%;
    background: #251d1a;
    padding: 48px 0 48px 0;
    justify-content: center;
    display: flex;
}
.aside-title-block {
    width: 530px;
    margin: 0 470px 0 0;
}
.aside-subtitle {
    font-family: raleway-regular;
    font-size: 28px;
    font-weight: 400;
    color: #c7b299;
}
.aside-title {
    color: #ffffff;
    font-family: raleway-regular;
    font-size: 28px;
    font-weight: 400;
}
.aside-txt {
    color: #615855;
    font-family: montserrat-regular;
    font-size: 18px;
    font-weight: 300;
    margin: 8px 0 0 0;
}
.aside-btn{
    display: block;
    text-decoration: none;
    width: 170px;
    border-radius: 3px;
    background: #998675;
    box-sizing: border-box;
    border-bottom: 3px solid #736357;
    color: #ffffff;
    font-family: raleway-extrabold;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
    text-align: center;
    padding: 19px 0 20px 0;
}
.aside-btn:hover{
    background: gold;
    color: black;
}
.aside-btn:active{
    background: white;
    color: black;
}
/*Четвертый блок*/
.projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 81px 0 80px 0;
    align-items: center;
    text-align: center;
}
.pojects-title {
    display: block;
    width: 100%;
    color: #555555;
    font-family: raleway-semibold;
    font-size: 30px;
    font-weight: 400;
}
.projects-txt {
    width: 757px;
    color: #8c8c8c;
    font-family: montserrat-regular;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin: 24px 0 40px 0;
}
.projects-buttons {
    width: 100%;
    min-height: 32px;
}
.projects-btn {
    text-align: center;
    padding: 10px 24px 11px 23px;
    margin: 0 10px 0 0;
    color: #8c8c8c;
    font-family: montserrat-regular;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    border-radius: 3px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
}
.projects-btn:hover{
    background-color: #998675;
    color: #ffffff;
}
/*4 блок карточки проектов*/
.our-projects{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 319px 0 310px;
}
.latest-projects {
    text-decoration: none;
    position: relative;
    margin: 30px;
}
.latest-projects-photo{
    display: block;
    width: 100%;
}
.latest-projects-wrapper{
    width: 100%;
    min-height: 100px;
    background: #fbfaf8;
    position: relative;
    padding: 30px 0 0 0;
}
.latest-projects-wrapper:before{
    content: "";
    border: 10px solid transparent;
    border-bottom: 10px solid #fbfaf8;
    position: absolute;
    top: -20px;
    left: 19px;
}
.latest-projects-title{
    color: #c7b299;
    font-family: raleway-regular;
    font-size: 20px;
    font-weight: 500;
    display: block;
    margin: 0 0 14px 29px;
    text-align: left;
}
.latest-projects-subtitle{
    display: block;
    color: #d1d1d1;
    font-family: montserrat-regular;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin: 0 0 0 29px;
    text-align: left;
}
.latest-projects-lnk,
.latest-projects-search{
    width: 26px;
    height: 26px;
    display: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 45%;
}
.latest-projects-lnk{
    background-image: url(../img/icon/link.svg);
    left: 35%;
    color: #ffffff;
}
.latest-projects-search{
    background-image: url(../img/icon/lupa.svg);
    right: 35%;
}
.latest-projects:hover .latest-projects-lnk{
    display: block;
}
.latest-projects:hover .latest-projects-search{
    display: block;
}
.latest-projects:hover .latest-projects-photo{
    filter: brightness(30%);
}
.latest-projects:hover .latest-projects-lnk:hover{
    background-color: #c7b299;
}
.latest-projects:hover .latest-projects-search:hover{
    background-color: #c7b299;
}
.latest-projects:hover .latest-projects-wrapper{
    background-color: #362f2d;
}
.latest-projects:hover .latest-projects-wrapper:before{
    border-bottom: 10px solid #362f2d;
}
.latest-projects:hover .latest-projects-title{
    color: #ffffff;
}
.latest-projects:hover .latest-projects-subtitle{
    color: #c7b299;
}
.load-more {
    width: 170px;
    min-height: 50px;
    background: #736357;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    color: #ffffff;
    font-family: raleway-bold;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase; 
    margin: 29px 0 0 0;
    word-break: break-all;
}
.load-more:hover{
    background: gold;
    color: black; 
}
.load-more:active{
    background: black;
    color: gold; 
}